@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


@font-face {
    font-family: "Thev";
    src: local("Thev"), url("../Fonts/Thev.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    direction: rtl;
}

#error {
    position: relative;
    top: -14px;
    color: red;
    font-size: 14px;
}

.container {
    width: 95%;
    margin: auto;
}

.div-btn {
    text-align: center;
    padding: 25px 0;
}

.div-btn .btn {
    background: linear-gradient(to right, #154900, #1F8414);
    padding: 2px 55px 0px;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
}




/* hero Section */


.product-img {
    left: 5%;
    height: auto;
    width: 25vw;
    position: absolute;
    bottom: -38px;
    max-width: 20vw;
}
.product-img img{
    width: 100%;
}
.product-img::after{
    content: '';
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 1px;
    background: #00000081;
    box-shadow: 0 0 8px 3px #00000094;
}
.hero{
    background: url(../images/herobg.jpg);
    background-size: cover;
    background-position: left bottom;
}
.hero .top-sec{
    position: relative;
}
.hero .text_img{
    background: #fff;
    width: 80%;
    padding: 10px 20px;
    margin-top: -12px;
    margin-bottom: 35px;
    
}
.hero .text_img h5{
    font-size: 6.4vw;
    font-weight: normal;
    color: transparent;
    background-image: linear-gradient(to left, #a80c11, #f0111d, #ff0612);
    -webkit-background-clip: text;
    background-clip: text;
    width: max-content;
    line-height: 1.2;
    padding-right: 5px;
}
.hero .text_img h6{
    color: #fff;
    font-size: 5.9vw;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to left, #a80c11, #f0111d, #ff0612);
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 1.2;
}


.hero .btm-section{
    margin-top: 2px;
}
.hero .btm-section li{
    margin-bottom: 11px;
    font-size: 5vw;
    line-height: 1.4;
    color: #fff;
    position: relative;
    padding-right: 27px;
    font-weight: 600;
}
.hero .btm-section li::after{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 78%;
    width: 16px;
    border-radius: 30px;
    content: '';
    background: #D7D7D7;

}

.hero .div-btn{
    padding-top: 10px;
}


/* result */

.result {
    background: url(../images/resultbg.jpg);
    background-size: cover;
    background-position: center left;
    padding-bottom: 20px;
}
.result .top_sect{
    padding: 0 10px 0 0;
    margin-bottom: 20px;
}
.result .top_sect h2{
    font-size: 7.5vw;
}
.result .top_sect h5{
    font-size: 4vw;
}
.result .content{
    position: relative;
}
.result .content img{
    width: 33%;
    position: absolute;
    left: 4%;
    bottom: -22px;
}
.result .text{
    background: linear-gradient(to bottom, #7B1216, #ff151d);
    width: 82%;
    color: #fff;
    margin-bottom: 20px;
}
.result .text h3{
    font-size: 5vw;
    margin-bottom: 5px;
    padding-right:10px ;
}
.result .text .boxs{
    display: flex;
}

.result .text .boxs .box{
    position: relative;
    padding: 5px;
}
.result .text .boxs .box::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0px;
    width: 2px;
    height: 100%;
    background: #fff;
    border-radius: 5px;
}
.result .text .boxs .box:last-child::after{
    display: none;
}
.result .text .boxs .box h4{
    font-size: 3.4vw;
}
.result .text .boxs .box p{
    font-size: 2.2vw;
}







/* doctor */

.doctor{
    background: url(../images/bg_doctor.jpg);
    background-size: cover;
    background-position: top left;
    text-align: center;
    color: #fff;
}

.doctor img{
    width: 70%;
    padding-top: 14px;
}


.doctor .text{
    margin-top: -75px;
}
.doctor .text h3{
    font-size: 8vw;
}
.doctor .text h4{
    font-size: 6.5vw;
    font-weight:normal;
    line-height: 0.8;
}

.doctor .boxs{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}
.doctor .boxs .box{
    width: 49%;
    background: #fff;
    border-radius: 22px;
    margin-bottom: 10px;
    padding: 4px 0;
}
.doctor .boxs .box p{
    font-size: 3.7vw;
    line-height: 1.2;
    color: transparent;
    background-image: linear-gradient(to left, #a80c11, #f0111d );
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
}
.doctor .boxs .box.full{
    width: 95%;
}











/* how_work */

.how_work{
    background: url(../images/last_secbg.jpg);
    background-size: cover;
    background-position: top left;
    text-align: center;
}
.how_work .top_sect h4{
    color: transparent;
    background-image: linear-gradient(to left, #a80c11, #f0111d );
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 7vw;
}
.how_work .top_sect h4:last-child{
    margin-top: -15px;
}

.how_work img{
    width: 50%;
}
.how_work .text{
    padding-bottom: 10px;
}
.how_work .text p{
    color: #ce1019;
    font-size: 5vw;
    font-weight: 700;
}














/* last section */


.last_sec{
    background: url(../images/last_secbg.jpg);
    background-size: cover;
    background-position: top left;
}
.last_sec .div_btn_link{
    width: 100%;
    background: linear-gradient(to left, #A91A1E, #ff1920);
    text-align: center;
    display: flex;
    justify-content: center;
    align-content:center;
}
.last_sec .div_btn_link a{
    color: #fff;
    font-weight: 600;
    font-size: 28px;

}

.last_sec .price{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 0;
    /* align-items: center; */
}
.last_sec .price img{
    width: 33%;
    margin-left: 5px;
}
.last_sec .price .text{
    width: 70%;
    text-align: center;
}
.last_sec .price .text h1{
    font-size: 17.5vw;
    line-height: 1;
    font-family: "Thev";
    letter-spacing: 0.5px;
    color: transparent;
    background-image: linear-gradient(to left, #a80c11, #f0111d ,#ff0612);
    -webkit-background-clip: text;
    background-clip: text;
    width: max-content;
    margin: 10PX  auto 0;
}
.last_sec .price .text h4{
    font-size: 9vw;
    line-height: 0.8;
    margin-bottom: 10px;
}
.last_sec .price .text h5{
    font-size: 30vw;
    line-height: 0.9;
    color: transparent;
    background-image: linear-gradient(to left, #a80c11, #f0111d ,#ff0612);
    -webkit-background-clip: text;
    background-clip: text;
    width: max-content;
    margin: auto;
    margin-top: -15px;
    padding: 5px 0;
    font-weight: 700;
}

.last_sec .price .text p{
    font-size: 5.4vw;
    position: relative;
    margin: auto;
    width: max-content;
    line-height: 1.2;
    margin-bottom: 25PX;
    font-weight: 600;
}
.last_sec .price .text p::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background: rgb(255, 192, 56);
}






.last_sec .sm-p {
    font-size: 2.8vw;
    text-align: center;
    padding: 2px 1px;
    border: 1px solid;
    border-image: linear-gradient(to right, #7f1316, #e41e26) 1;
    margin: 3px 0;
    width: 95%;
    margin: auto;
    line-height: 1.5;
    font-weight: 600;
}



.last_sec .div-form {
    width: 100%;
    margin: auto;
    position: relative;
    margin-bottom: 10px;
}
.last_sec .cont_Top{
    width: 100%;
    margin: auto;
    padding: 4px 2px;
    text-align: center;
    font-size: 6.8vw;
    background: linear-gradient(-4deg, #7B1216, #ff151d);
    margin-bottom: 7px;
}
.last_sec .cont_Top p{
    margin-bottom: 0;
    line-height: 1.2;
    color: #fff;
    font-weight: 600;
}
.last_sec .div-form .content {
    text-align: center;
    background: #fff;
    padding: 5px 10px;
    box-shadow: -5px 2px 8px #8e8e8f75;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 95%;
    margin: 10px auto 0;
}

.last_sec .div-form .content p {
    font-size: 5vw;
    line-height: 1.3;
    color: #021F31;
    font-weight: 600;

}

.last_sec .div-form form {
    background: url(../images/bgform.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #00000047;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    width: 95%;
    margin:0 auto 0;
}

.last_sec .div-form form input {
    width: 100%;
    padding: 15px 10px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #00000031;
    outline: none;
    margin-bottom: 24px;
    text-align: right;
    font-family: sans-serif;
    border: 1px solid transparent;
}

.last_sec .div-form form input:focus {
    border: 1px solid #013B9C;
}

.last_sec form .div-btn {
    padding: 0;
}

.last_sec form .div-btn .btn {
    outline: none;
    border: none;
    cursor: pointer;
}

.last_sec .footer .boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    position: relative;
}

.last_sec .footer .boxs .box {
    display: flex;
    text-align: center;
    align-items: center;
    width: 30%;
    background: linear-gradient(to left, #670003 , #DE0019);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
}

.last_sec .footer .boxs .box img {
    width: 30px;
    height: 32px;
    margin-bottom: 5px;
}

.last_sec .footer .boxs .box div {

    font-size: 2vw;
    color: #fff;
 
}
.last_sec .footer .boxs .box:first-child div{
    font-size: 2vw;
}






@media (max-width:390px) {
    .div-btn .btn {
        padding: 2px 50px 0px;
        font-size: 28px;
    }
}

@media (max-width:360px) {
    .div-btn {
        text-align: center;
        padding: 15px 0 20px;
    }
    .div-btn .btn {
        font-size: 26px;
    }
    .last_sec .footer .boxs .box div {
        font-size: 2.8vw;
    }
}




@media (min-width:500px) {
    .product-img {
        width: 24vw;
    }
    
    .div-btn {
        padding: 30px 0;
    }
}

@media (min-width:900px) {
    .product-img {
        left: 10%;
        max-width: 150px;
    }
}

@media (min-width:1000px) {
    .product-img {
        left: 50px;
        width: 150px;
        max-width: 150px;
        top: 40px;
    }
    .last_sec {
        display: flex;
    }
    .last_sec .flexonpc {
        width: 50%;
    }
    .last_sec .sm-p {
        font-size: 18px;
    }
    .last_sec .div-form {
        top: 0;
    }
    .last_sec .footer .boxs .box div {
        font-size: 19px;
    }
    .last_sec .footer .boxs {
        top: 10px;
    }
    .last_sec .price .text div {
        overflow: hidden;
    }
    .last_sec .footer .boxs .box:first-child div{
        font-size: 15px;
    }
    .last_sec .div-form form{
        padding: 25px 50px;
    }
}



.top_sec2{
    display: none;
}
.product_div2{
    display: none;
}




@media (min-width:700px) {

    .hero{
        display: flex;
        flex-wrap: wrap;
    }
    .hero .top-sec{
        width: 50%;
        height: 150px;
        position: relative;
    }
    .hero .top-sec .bg-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transform: scaleX(-1);
    }
    .hero .top-sec .product-img{
        display: none;
    }
    .hero .text_img{
        display: none;
    }
    .hero .text_img h5{
        font-size: 30px;
    }
    .hero .text_img h6{
        font-size: 62px;
    }
    .top_sec2{
        width: 50%;
        background: #06143a;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .top_sec2 h5{
        font-size: 30px;
    }
    .top_sec2 h6{
        font-size: 30px;
    }

    .hero .dive_dive{
        display: flex;
        justify-content: center;

        width: 100%;
        margin: 30px 0 50px;
        gap: 30px;
    }
    .hero .dive{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
   
    }
    .hero .dive .btm-section{
        width: max-content;
    }

    .hero .btm-section li{
        font-size:3vw;
    }
    .product_div2{
        display: block;
        width: 155px;
    }

    .div-btn{
        padding: 25px 0 15px;
    }

    .last_sec .footer .boxs .box:first-child div{
        font-size: 17px;
    }

    .last_sec .price .text h1{
        font-size: 6vw;
    }
    .last_sec .price .text h4 {
        font-size: 6vw;
    }
    .last_sec .price .text h5{
        font-size: 25vw;
    }
    .last_sec .price .text p{
        font-size: 3vw;
    }
    .last_sec .price .text p {
        font-size: 4.8vw;
    }
    .last_sec .div-form .content p{
        font-size: 4vw;
    }
    .last_sec .price img{
        margin-left: 20px;
    }
    .last_sec .price{
        align-items: center;
        width: 70%;
    }
    .last_sec{
        align-items: center;
    }
    .last_sec .cont_Top{
        font-size: 2.3vw;
    }
    .last_sec .div-form{
        width: 70%;
    }
    .last_sec .footer .boxs{
        width: 70%;
    }
    .last_sec .cont_Top{
        margin-top: 40px;
    }
    .last_sec{
        padding-bottom: 20px;
    }
    .last_sec .cont_Top p{
        font-size: 5vw;
    }
    .last_sec .sm-p{
        font-size: 2.3vw;
    }
    .last_sec .footer .boxs .box div{
        font-size: 18px;
    }
}


@media (min-width:1000px) {
    .hero{
        display: flex;
        flex-wrap: wrap;
    }
    .hero .top-sec{
        width: 50%;
        height: 200px;
        position: relative;
    }
    .hero .top-sec .bg-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transform: scaleX(-1);
    }
    .hero .top-sec .product-img{
        display: none;
    }
    .hero .text_img{
        display: none;
    }
    .hero .text_img h5{
        font-size: 30px;
    }
    .hero .text_img h6{
        font-size: 62px;
    }
    .top_sec2{
        width: 50%;
        background: #06143a;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .top_sec2 h5{
        font-size: 40px;
    }
    .top_sec2 h6{
        font-size: 42px;
    }

    .hero .dive_dive{
        display: flex;
        justify-content: center;

        width: 100%;
        margin: 30px 0 50px;
    }
    .hero .dive{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
    }
    .hero .dive .btm-section{
        width: max-content;
    }

    .hero .btm-section li{
        font-size: 28px;
    }

    .product_div2{
        display: block;
        width: 190px;
    }

   
    .last_sec .footer .boxs .box:first-child div{
        font-size: 13px;
    }

    .last_sec .price .text h1{
        font-size: 5vw;
    }
    .last_sec .price .text h4 {
        font-size: 4vw;
    }
    .last_sec .price .text h5{
        font-size: 15vw;
    }
    .last_sec .price .text p{
        font-size: 3vw;
        
    }
    .last_sec .price img{
        margin-left: 20px;
    }
    .last_sec .price{
        align-items: center;
        width: 50%;
    }
    .last_sec{
        align-items: center;
    }
    .last_sec .cont_Top{
        font-size: 2.3vw;
    }
    .last_sec .div-form{
        width: 85%;
    }
    .last_sec .footer .boxs{
        width: 85%;
    }
    .last_sec .cont_Top{
        margin-top: 40px;
    }
    .last_sec{
        padding-bottom: 20px;
    }
    .last_sec .cont_Top p{
        font-size: 3vw;
    }
    .last_sec .footer .boxs .box div{
        font-size: 15px;
    }
    .last_sec .div-form .content p {
        font-size: 2.5vw;
    }
    .last_sec .sm-p{
        font-size: 1.5vw;
    }
}
@media (min-width:1200px) {
    .last_sec .footer .boxs .box:first-child div{
        font-size: 15.5px;
    }
    .last_sec .footer .boxs .box div{
        font-size: 17px;
    }
}
